/DemoTwo/target/
/WindowMaster/target/
/QuestForTheUserInput/target/
/ClassesExample/target/
/Shape/target/
/StateCapitals/target/
/StateCapitals2/target/
/ClassRoster/target/
/FizzBuzz/target/
/ClassRoster/nbproject/
/ForByFor/target/
/EnumsandDates/target/
/EnumFriday/target/
/BigDecimalDemo/target/
/Birthday/target/
/Lambdas/target/
